# Sales Data Analysis

## Ingest

In [28]:
import os
import pandas as pd
import sys
import matplotlib.pyplot as plt
print("hello world")

hello world

In [29]:
# get data for all files with their paths

directory_path = f"{os.getcwd()}/data"
files = []

for filename in os.listdir(directory_path):
    if os.path.isfile(os.path.join(directory_path, filename)):
        files.append(filename)

print(files[:5])

['sales_week_starting_2013-01-07.csv', 'sales_week_starting_2012-12-24.csv', 'sales_week_starting_2012-12-31.csv', 'sales_week_starting_2013-04-22.csv', 'sales_week_starting_2012-10-08.csv']

In [30]:
# go through all csv files and create a single dataframe
df = pd.DataFrame()

for file in files:
    temp_df = pd.read_csv(f"data/{file}")

    df = pd.concat([temp_df, df], ignore_index=True)

In [31]:
df.head()

             sale_time purchaser_gender
0  2013-08-12 01:10:47             male
1  2013-08-12 02:07:00           female
2  2013-08-12 02:09:54             male
3  2013-08-12 02:16:23             male
4  2013-08-12 02:23:33           female

## EDA

### get descriptive stats about the data

In [32]:
df

                  sale_time purchaser_gender
0       2013-08-12 01:10:47             male
1       2013-08-12 02:07:00           female
2       2013-08-12 02:09:54             male
3       2013-08-12 02:16:23             male
4       2013-08-12 02:23:33           female
...                     ...              ...
204324  2013-01-13 22:23:42           female
204325  2013-01-13 22:24:26           female
204326  2013-01-13 22:29:54           female
204327  2013-01-13 22:56:41           female
204328  2013-01-13 23:55:19           female

[204329 rows x 2 columns]

### Plot daily sales for all 50 weeks.

In [34]:
# first convert the date column to proper datetime format
df["sale_time"] = pd.to_datetime(df["sale_time"])
df.head()

            sale_time purchaser_gender
0 2013-08-12 01:10:47             male
1 2013-08-12 02:07:00           female
2 2013-08-12 02:09:54             male
3 2013-08-12 02:16:23             male
4 2013-08-12 02:23:33           female

In [35]:
# extract the year, week and day into separate columns
df[["year", "week", "day"]] = df["sale_time"].dt.isocalendar()
df.head()

            sale_time purchaser_gender  year  week  day
0 2013-08-12 01:10:47             male  2013    33    1
1 2013-08-12 02:07:00           female  2013    33    1
2 2013-08-12 02:09:54             male  2013    33    1
3 2013-08-12 02:16:23             male  2013    33    1
4 2013-08-12 02:23:33           female  2013    33    1

In [36]:
# get date column
df["date"] = df["sale_time"].dt.date
df.head()

            sale_time purchaser_gender  year  week  day        date
0 2013-08-12 01:10:47             male  2013    33    1  2013-08-12
1 2013-08-12 02:07:00           female  2013    33    1  2013-08-12
2 2013-08-12 02:09:54             male  2013    33    1  2013-08-12
3 2013-08-12 02:16:23             male  2013    33    1  2013-08-12
4 2013-08-12 02:23:33           female  2013    33    1  2013-08-12

In [42]:
# get last 50 weeks
df[["week", "date"]]

        week        date
0         33  2013-08-12
1         33  2013-08-12
2         33  2013-08-12
3         33  2013-08-12
4         33  2013-08-12
...      ...         ...
204324     2  2013-01-13
204325     2  2013-01-13
204326     2  2013-01-13
204327     2  2013-01-13
204328     2  2013-01-13

[204329 rows x 2 columns]

### It looks like there has been a sudden change in daily sales. What date did it occur?

### Is the change in daily sales at the date you selected statistically significant? If so, what is the p-value?

### Does the data suggest that the change in daily sales is due to a shift in the proportion of male-vs-female customers? Please use plots to support your answer (a rigorous statistical analysis is not necessary).

### Assume a given day is divided into four dayparts:

night (12:00AM - 6:00AM),
morning (6:00AM - 12:00PM),
afternoon (12:00PM - 6:00PM),
evening (6:00PM - 12:00AM).
### What is the percentage of sales in each daypart over all 50 weeks?

## Conclusion